<div class="home-container">
  <div *ngIf="!getGlobalVariables().isWalletConnected">
    <button class="connect-btn" (click)="openConnect()">Connect wallet</button>
  </div>


  <div *ngIf="getGlobalVariables().isWalletConnected">
    <h2>
      <i class="fas fa-wallet text-dark"></i> Wallet Connected: {{getGlobalVariables().wallet.addressShort}}
    </h2>
    <p>Network: {{getGlobalVariables().wallet.network.name | uppercase}}({{getGlobalVariables().wallet.network.chainId}}
      )</p>

    <a href="" class="disconnect" (click)="disconnectWallet()">
      Disconnect
    </a>
  </div>


  <div class="home-content" *ngIf="getGlobalVariables().wallet.address">
    <div class="read">
      <div class="content">
        <span>Read balance: </span>
        <span *ngIf="balance">{{balance}} BUSD</span>
      </div>
    </div>

    <div class="write">
      <div class="content">
        <span>Receiver: </span>
        <input [(ngModel)]="receiver"/>
      </div>

      <div class="content">
        <span>Amount: </span>
        <input [(ngModel)]="amount"/>
      </div>

      <button [disabled]="!receiver || !amount" *ngIf="allowance" (click)="transfer()">TRANSFER</button>
      <button [disabled]="!receiver || !amount" *ngIf="!allowance" (click)="approve()">APPROVE</button>
      <button [disabled]="!receiver || !amount" *ngIf="!allowance" (click)="readAllowance()">CHECK ALLOWANCE</button>
    </div>
  </div>
</div>
